#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1.3rem;
}

.read-the-docs {
  color: #888;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;

}

@media screen and (min-width: 500px) {
  .container {
    justify-content: flex-start;
    padding-left: 38px;
  }
}

.product-form {
  width: 340px;
  border: 2px solid grey;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  max-width: 350px;
}


li {
  list-style: none;
  border: 2px solid grey;
  text-align: left;
}

li>h4 {
  font-weight: 400;
}

li span {
  font-weight: bold;
}

.list-products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-content: space-between;
}

.card{
  width: 340px;
}